*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0%;
  list-style-type: none;
  text-decoration: none;
  
}
:root {
    --index: #1d1e20;
    --text:#ffffff;
    --body:#000000;
    --headerfoot:rgb(48, 48, 48);
    --headerfooterindexmain:#a6a6a6;
}

a {
  color: white;
    font-size: clamp(2rem, 2.5vw, 2.5rem);
}
p {
  color: white;
    font-size: clamp(1.8rem, 2.5vw, 2.5rem);
    
}
h1, h2{
    color: white;
    font-size: clamp(1.5rem, 2.5vw, 3.5rem);
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    
}



    body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 1fr 25em;
         min-height: 100vh;
               background-color: var(--headerfooterindexmain);
            }

            main {
               padding: 0;
               
               margin: 0;
            }



            #index-header-banner
            
            
                {background-image: url(/IMGZ/National\ Science\ Museum.png); 
                    background-color:# ;
                    background-position:center;
                    background-size:contain;
                    background-repeat: no-repeat;
            min-height: 40vh;
                } 
            /*NAV*/
          
            #news-header-banner,
            #cosmo-header-banner,
            #robo-header-banner,
            #eco-header-banner {
                background-position:center;
                background-size:cover;
                background-repeat: no-repeat;
                min-height: 55vh;
                min-height: 40vh;
            }
            




            .topnav {
                  background-color: #333;
                  overflow: hidden;
                }
                
                /* Style the links inside the navigation bar */
                .topnav a {
                  float: left;
                  display: block;
                  color: #f2f2f2;
                  text-align: center;
                  padding: 14px 16px;
                  text-decoration: none;
                  font-size: 3em;
                }
                
                /* Change the color of links on hover */
                .topnav a:hover {
                  background-color: #ddd;
                  color: black;
                }
                
                /* Add an active class to highlight the current page */
                .topnav a.active {
                  background-color: #000000;
                  color: white;
                }
                
                /* Hide the link that should open and close the topnav on small screens */
                .topnav .icon {
                  display: none;
                }




































            #index-grid-wrapper {
                height: auto;
                width: auto;
                display: grid;
                grid-template-columns:auto;
                grid-template-rows: auto auto;
                padding:0;
                margin: 1em 5em;
                background-color: var(--index);
                justify-content: center;
                
            }

     
            
            
            
            
            
                  
            /*  header */
            .header-subject {
                
                min-width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                margin: 0 0;
                padding: 1em;
                
            }
            
            
            /* header */
            
            
            
            header {
                
            }
            
            
            .top-right {

            display: flex;
            flex-direction: column;

            }
            .top-left {
display: flex;
flex-direction: column;



            }
            
            
            
            /*INDEX*/
            .index-top-section {
                display: flex;
                justify-content: space-around;
                align-items: space-around;
                margin: 2em 0;
                
                
            }
            
           
    
            .index-mid-section {
                min-height: 45em;
               width: auto;
                background-color: var(--body);
                background-image: url(/IMGZ/caricature-5266230_1280resized.jpg);    
                background-position: center;         
                background-size: cover; 
                background-repeat: no-repeat; 
                
                
            }

            .special-event-mid  {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                flex-wrap: wrap;
                
            }
           
            
            .special-event-card {
         
            }
            .event-card-text {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                padding: 3em;
                
            }
           
           
            .news-link {
                border: none;
                
                display: block;
                min-width: 15rem;
              
                font-size: 1.5rem;
                text-align: center;
                padding: 0.5em;
                margin-bottom: 1em;
            }
            
           
#flex-bottom-col1-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 4em 0;
    gap: 5em;
    
    height: auto;
    width: auto;  
}

#flex-bottom-col2-4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: auto;
    width: auto;
    margin: 4em 0;
    gap: 5em;
}
            .index-bottom-section {
            
               min-height: 60vh;
               width:  100%;
             
               
            }

            .exhibition-background1{background-image: url(/IMGZ/rocket-launch-67643_1280.jpg); }
            .exhibition-background2{background-image: url(/IMGZ/nature-845849_640.jpg);}
            .exhibition-background3{background-image: url(/IMGZ/robot-916284_1920.jpg);}
            .exhibition-background4{background-image: url(/IMGZ/dinosaur-60588_1280.jpg);}
           

            .exhibition-background1,
            .exhibition-background2,
            .exhibition-background3,
            .exhibition-background4
            {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
min-height: 25vh;
width: 100%;

            }
            .bottom-section-text {
       
  
            }
        
        
        .bottom-section-a {
            display: flex;
            justify-content:center;
        }
   
            
            /*INDEX*/
            
            /*NEWS.html*/
            .news-titleh2 {
           
            text-align: center;
            margin: 1em 0;
            font-size: 2em;
            }
            
            .news-card {
             
            width: auto;
            min-height: auto;
            width: 100%;
            margin:0 5em;
            
            }
            .main-sub_container {
               display: grid;
               grid-template-columns: auto;
               grid-template-rows: minmax(auto);
               gap: 2em;
               justify-content: center;
              margin: 2em 5em;
              min-height: 100vh;
              background-color: var(--index);
              
            }
           
            
            .exhibition-sub-container {

                display: grid;
                grid-template-columns: auto;
                grid-template-rows: minmax(auto);
                min-height: 100vh;
                margin:1em 5em;
                background-color: var(--index);
                
                }
                
                .exhibition-sub-text {
                    padding: 4em;
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column;
                    flex-wrap: wrap;
                    
                }
            
            /*NEWS*/
            
            
          
          
            
            .program-link {
                
                border: none;
                
                display: block;
                width: 10rem;
             
                font-size: 1.7rem;
                text-align: center;
                height: auto;
                padding: 0.5em;
            }
      
            .exhibition-sub-link {
                display: flex;
                justify-content: space-around;
                padding: 1em;
            
            }
            
            
            .footer-headline {
                color: rgb(0, 0, 0);
            }
            .footer-p {
              
               color: rgb(0, 0, 0);
               font-weight: bold;
               
            }
            
            .f-icon {
                font-size: 2rem;
                padding: 0;
                
            }
            
            /*FOOTER*/
            
            
            footer {
               background-color: var(--index);
                display: flex;
                justify-content: space-around;
                align-items:center ;
                flex-direction: row;
                text-align: center;
                
            flex-wrap: wrap;
            margin: 0 5em;
            }
            
            
            .footer-headline {
                font-size: 2rem;
                padding: 0.5em;
             
            }
            .footer-p {
               font-size: 1.5rem;
               
               
            }
            
            .f-icon {
                font-size: 2rem;
                padding: 0.3em;
               
            }

        
            
            
            .footer-info-col4 {
                padding: 1em;
                font-size: 1.5em;
                
            }








            /*  MOBILE */
@media screen and (max-width: 460px) {
  
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0%;
    padding:0%;
    list-style-type: none;
    text-decoration: none;
  scroll-behavior: auto;
}


a {
    color: white;
      font-size: clamp(2rem, 2.5vw, 2rem);
  }
  p {
    color: white;
      font-size: clamp(1.8rem, 2.5vw, 2.5rem);
      
  }
  h1, h2{
      color: white;
      font-size: clamp(2rem, 2.5vw, 3.5rem);
  }







body {
grid-template-columns:auto ;
grid-template-rows: repeat(3, auto);
grid-template-areas: "header""main""footer";
min-height: 100vh; 

}


#index-grid-wrapper {
height: auto;
width: auto;
display: grid;
grid-template-columns:auto;
margin: 0em 0em;
grid-template-rows:repeat(3, auto);
grid-template-areas: none;    
}

/* INDEXHTM INDEXHTML   IDEXHTML   INDEXHTML*/
#index-header-banner
{background-image: url(/IMGZ/National\ Science\ Museum.png); 
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 50vh;

}
#news-header-banner,
#cosmo-header-banner,
#robo-header-banner,
#eco-header-banner {
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 50vh;
}

#news-header-banner {background-image: url(/mobileimg/Animated\ Shape.svg);}
#cosmo-header-banner {background-image: url(/mobileimg/earth-356059_1280.jpg);  }
#eco-header-banner {background-image: url(/mobileimg/conservatory-4161955_640.jpg);}
#robo-header-banner {background-image: url(/mobileimg/andrea-de-santis-zwd435-ewb4-unsplash.jpg);}
 
/*  header */
.header-subject {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin: 30em 0;
    padding: 1em; 
}
/* header */


/*INDEX*/
.index-top-section {
    padding: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5em;
    height: auto;  
    padding: 1em 0; 
}


.index-top-section_link{

    display: block;
    width: auto;
    height: auto;
    font-size: 1.3em;
    font-weight: bold;
    padding: 0;
}


.caret {
    padding: 0.5em;
    
}





.index-mid-section {
    min-height: 25em;
   width: auto;
    background-color: var(--body);
    background-image: url(/IMGZ/caricature-5266230_1280resized.jpg);    
    background-position: center;         
    background-size: cover; 
    background-repeat: no-repeat; 
    
    
}

.special-event-card {
  
}
.event-card-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    
}




#flex-bottom-col1-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 2em 0;
   gap: 0;
    
    height: auto;
    width: auto;  
    flex-wrap: wrap;
}

#flex-bottom-col2-4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: auto;
    margin: 2em 0;
    gap: 0;
    flex-wrap: wrap;
}
            .index-bottom-section {
            
               grid-gap: 10em;
               min-height: 60vh;
               width:  100%;
             
               
            }

            .exhibition-background1{background-image: url(/IMGZ/rocket-launch-67643_1280.jpg); }
            .exhibition-background2{background-image: url(/IMGZ/nature-845849_640.jpg);}
            .exhibition-background3{background-image: url(/IMGZ/robot-916284_1920.jpg);}
            .exhibition-background4{background-image: url(/IMGZ/dinosaur-60588_1280.jpg);}
           

            .exhibition-background1,
            .exhibition-background2,
            .exhibition-background3,
            .exhibition-background4
            {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
min-height: 20vh;
width: 100%;
margin: 5em 0;

            }
            .bottom-section-text {
       
  
            }
        
        
        .bottom-section-a {
            display: flex;
            justify-content:center;
        }
   








.exhibition-link {
margin: 0.5em 0;
padding: 0.5em 0;
}
hr {
    width: 13em;
    margin: 0.5em 0;
    

}




/*INDEX*/

/*NEWS.html*/
.news-titleh2 {

text-align: center;
margin: 1em 0;
font-size: 2em;
}

.news-card {
    padding: 4em;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 0;
   


}
.main-sub_container {
   display: grid;
   grid-template-columns: auto;
   grid-template-rows: minmax(auto);
   gap: 2em;
   justify-content: center;
  margin: 1em 0;
  min-height: 100vh;
  
}




/*NEWS*/




.exhibition-sub-container {

display: grid;
grid-template-columns: auto;
grid-template-rows: minmax(auto);
min-height: 50vh;
margin:0;

}

.exhibition-sub-text {
    padding: 4em;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    
}


.exhibition-shuffle-link, .exhibition-shuffle-link_wide {
    border: none;
    display: block;
    width: 10rem;
    font-size: 1.7rem;
    text-align: center;
    height: auto;
}

.exhibition-shuffle-link_wide {
   
        width: 13rem;
}

.exhibition-sub-link {
    display: flex;
    justify-content: space-around;
    padding: 1em;

}
.news-link {
    border: none;
   
    display: block;
    width: 10rem;

    font-size: 1.5rem;
    text-align: center;
}



/*FOOTER*/


footer  {
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;

flex-wrap: wrap;
background-color: var(--headerfooterindexmain);
   
}


.footer-headline {
    font-size: 2rem;
    padding: 0.5em;
    color: black;
}
.footer-p {
   font-size: 1.5rem;
   color: black;
   
}
.f-icon {
    font-size: 2rem;
    
}


.footer-info-col1 {

}
.footer-info-col2 {

}
.footer-info-col3 {

}
.footer-info-col4 {
    padding: 1em;
    font-size: 1.5em;
    
}


 @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  

  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  } 











/*FOOTER*/
}














