*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0%;
  list-style-type: none;
  text-decoration: none;
  
}
:root {
    --index: #1d1e20;
    --text:#ffffff;
    --body:#000000;
    --headerfoot:rgb(48, 48, 48);
    --headerfooterindexmain:#a6a6a6;
}

a {
  color: white;
    font-size: clamp(1.8rem, 2.5vw, 2rem);
}
p {
  color: white;
    font-size: clamp(1.8rem, 2.5vw, 2rem);
    
}
h1, h2{
    color: white;
    font-size: clamp(1.5rem, 2.5vw, 2.3rem);
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    
}
    body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 1fr 25em;
         min-height: 100vh;
        background-color: var(--headerfooterindexmain);
            }

           


/* Header nav*/
            #index-header-banner
                {background-image: url(/IMGZ/National\ Science\ Museum.png); 
                    background-color:none ;
                    background-position:center;
                    background-size:contain;
                    background-repeat: no-repeat;
            min-height: 35vh;
                } 
            /*NAV*/
       

            #learning-header-banner {background-image: url(/IMGZ/pencils-1280558_1920.jpg);}


            #learning-header-banner,
            #news-header-banner,
            #cosmo-header-banner,
            #robo-header-banner,
            #eco-header-banner {
                background-position:center;
                background-size:cover;
                background-repeat: no-repeat;
                
                min-height: 30vh;
            }
            




            .topnav {
                  background-color: rgb(255, 255, 255);
                  overflow: hidden;
                }
                
               
                .topnav a {
                  float: left;
                  display: block;
                  color: #f2f2f2;
                  text-align: center;
                  padding: 14px 16px;
                  text-decoration: none;
                  font-size: 3em;
                }
                
               
                .topnav a:hover {
                  background-color: #ddd;
                  color: black;
                }
                
                
                .topnav a.active {
                  background-color: var(--index);
                  color: white;
                }
                
                
                .topnav .icon {
                  display: none;
                }
/* header nav*/


                  
            /*  header */
            .header-subject {
                
                min-width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                margin: 10em 0;
                padding: 1em;
                position:absolute;
                
            }
            
            
            /* header */

            
          
    /* INDEX WRAPPER */        
    #index-grid-wrapper {
    grid-template-columns:auto;
    grid-template-rows: auto auto;
    justify-content: center;
    height: auto;
    width: auto;
    display: grid;
    background-color: #1d1e20;
    margin: 1em 20em;
    padding:0;}
     /* INDEX WRAPPER */           
            
            
    /* INDEX TOP */
    .index-top-section {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    gap: 5em;
    width: auto;
    padding: 1em;
}
    

    .top-right {
    display: flex;
    flex-direction: column
;
gap: 1em;
;}

    .top-left {
    display: flex;
    flex-direction: column;
    ;}
    /* INDEX TOP */

/* INDEX MID  */
        .index-mid-section {
        min-height: 50vh;
        width: auto;
       
        background-color: none;
      display: flex;
      justify-content: center;
      gap:1em;
        }

        .special-event-mid1  {
      
          background-image: url(/IMGZ/black-1072366_640.jpg);}
    
          .special-event-mid2  {
         
            background-image: url(/IMGZ/airplane-2585889_640.jpg);    
    
          }
    .special-event-mid1,
    .special-event-mid2 {
        background-position: center;         
            background-size:cover; 
            background-repeat: no-repeat;
            width: 100%;
            flex-wrap: wrap;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          color: black;
          
    }

       

          .mid-black-txt {
          
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 100%;
            font-size: 1.4em;
            
            
        }
        

/* INDEX MID  */
/* INDEX BOTTOM */
.index-bottom-section {
    min-height: 60vh;
    width:  auto;}
           
#flex-bottom-col1-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 4em 0;
    gap: 5em;
    
    height: auto;
    width: auto;  
}

#flex-bottom-col2-4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: auto;
    width: auto;
    margin: 4em 0;
    gap: 5em;
}
           

            .exhibition-background1{background-image: url(/IMGZ/space-2865928_640.jpg); }
            .exhibition-background2{background-image: url(/IMGZ/nature-845849_640.jpg);}
            .exhibition-background3{background-image: url(/IMGZ/robot-916284_1920.jpg);}
            .exhibition-background4{background-image: url(/IMGZ/dinosaur-60588_1280.jpg);}
           

            .exhibition-background1,
            .exhibition-background2,
            .exhibition-background3,
            .exhibition-background4
            {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
min-height: 25vh;
width: 100%;

            }
           
        
        
        .bottom-section-a {
            display: flex;
            justify-content:center;
        }
   /* INDEX BOTTOM */
            
    /*INDEX*/
            
            /*NEWS.html*/
        #main-news {
            width: auto;
        }
            
            .news-card {
             display: flex;
             justify-content: flex-start;
             align-items: center;
             flex-direction: column;
            width: auto;
            min-height: auto;
            width: 100%;
            padding: 10em;
            flex-wrap: wrap;
           
            
            }
            .news-text {
                      
            }
            .news-sub_container2 {
                background-image: url(/IMGZ/plane-34035_1280.png);
               

            }
            .news-sub_container1 {

                background-image: url(/IMGZ/reading-7334749.png);
              
            }
            .news-sub_container1, .news-sub_container2 {
               display: grid;
              display: flex;
              justify-content: flex-start;
              background-position: center;
              background-size:cover;
              background-repeat: no-repeat;
               margin: 1em 20em;
              min-height: 100vh;
              background-color: var(--index);
              padding: 0em 20em;
              width: auto;
            }
       
    
            
            .exhibition-sub-container {

                display: grid;
                grid-template-columns: auto;
                grid-template-rows: auto;
                min-height: 100vh;
                margin:1em 20em;
                background-color: var(--index);
                padding: 0em 5em;
              
                }
                
                .exhibition-sub-text {
                    padding: 10em 0;
                    
                   margin-bottom: 10em;
                   width: auto;
                  
                }
              .exhibition-p-padd {
                padding: 2em;
                width: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                word-wrap: break-word;
              }
            
            /*NEWS*/
         

          


            .eco-container-img,
            .robo-container-img,
            .cosmo-container-img {
                min-height: 45vh;
                width: 100%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            .cosmo-container-img {background-image: url(/IMGZ/galaxy-7040416_640.png);}
            .eco-container-img{background-image: url(/IMGZ/wind-turbines-7617057.png);}
            .robo-container-img{background-image: url(/IMGZ/robots-3338504_1280.png);}
          
          
            
            .program-link {
                
                border: none;
                
                display: block;
                width: 10rem;
             
                font-size: 1.7rem;
                text-align: center;
                height: auto;
                padding: 0.5em;
            }
      
            .exhibition-sub-link {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
              
                width: auto;
        margin: 2em 10em;
            }
            
            
         
            
            /*FOOTER*/
            
            
            footer {
               background-color: var(--index);
                display: flex;
                justify-content: space-around;
                align-items:center ;
                flex-direction: row;
                text-align: center;
                
            flex-wrap: wrap;
            margin: 0em 20em;
            }
            
            
            .footer-headline {
                color: rgb(255, 255, 255);
                margin: 0.5em 0;
            }
            .footer-p {
              
               color: rgb(255, 255, 255);
               font-weight: bold;font-size: 1.5em;
               padding: 0.2em;
            }
            
            .f-icon {
                
                color: rgb(35, 32, 32);
                background-color: var(--headerfooterindexmain);
                border-radius: 5em;
               border-color: none;
               font-size: 2rem;
                padding: 0.3em;
                
            }
           
            
          /* learning */
#learning-grid-wrapper {
    display: flex;
    justify-content: center;
    gap: 10em;
    align-items: center;
    background-color: var(--index);
    flex-direction: column;
    margin: 1em 20em;
  
}
          /*learning */


.for-kids, .for-teachers {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding: 5em 5em;
}











            /*  MOBILE */
@media screen and (max-width: 460px) {
  
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0%;
    padding:0%;
    list-style-type: none;
    text-decoration: none;
  scroll-behavior: auto;
}


a {
    color: white;
      font-size: clamp(2rem, 2.5vw, 2rem);
  }
  p {
    color: white;
      font-size: clamp(1.8rem, 2.5vw, 2.5rem);
      
  }
  h1, h2{
      color: white;
      font-size: clamp(2rem, 2.5vw, 3.5rem);
  }

body {
grid-template-columns:auto ;
grid-template-rows: repeat(3, auto);
grid-template-areas: "header""main""footer";
min-height: 100vh; 
background-color: var(--index);


}
.eco-container-img,
            .robo-container-img,
            .cosmo-container-img {
                display: none;
            }
.sub_top-section {display: none;}

/*header nav*/
#index-header-banner
{background-image: url(/IMGZ/National\ Science\ Museum.png); 
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 30vh;

}


#learning-header-banner, 
#news-header-banner,
#cosmo-header-banner,
#robo-header-banner,
#eco-header-banner {
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 30vh;
}
#learning-header-banner {background-image: url(/IMGZ/book-1822474_640.jpg);}
#news-header-banner {background-image: url(/mobileimg/Animated\ Shape.svg);}
#cosmo-header-banner {background-image: url(/mobileimg/earth-356059_1280.jpg);  }
#eco-header-banner {background-image: url(/IMGZ/sustainability-3300898_640.jpg);}
#robo-header-banner {background-image: url(/mobileimg/andrea-de-santis-zwd435-ewb4-unsplash.jpg);}
 
/*  header */
.header-subject {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 20em 0;
    padding: 1em; 
    font-size: none;
}


/* header */
/*header nav*/


/* INDEX WRAPPER */
#index-grid-wrapper {
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns:auto;
    margin: 0em 0em;
    grid-template-rows:repeat(3, auto);
    grid-template-areas: none;}
/* INDEX WRAPPER */



/* INDEX TOP */
.index-top-section {
    padding: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
    height: auto;  
    padding: 1em 0; 
}

.top-right {
    display: flex;
    flex-direction: column;}

    .top-left {
    display: flex;
    flex-direction: column;}
/* INDEX TOP */

/* INDEX MID */
.index-mid-section {
    min-height: 25em;
   width: auto;
    background-color: var(--index);
    background-position: center;         
    background-size: cover; 
    background-repeat: no-repeat; 
}


    .special-event-mid2  {
   
      display: none;   

    }


/*INDEX MID */

/* INDEX BOTTOM */
.index-bottom-section {
            
    grid-gap: 10em;
    min-height: 60vh;
    width:  100%;  
 }
#flex-bottom-col1-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 2em 0;
   gap: 0;
    
    height: auto;
    width: auto;  
    flex-wrap: wrap;
}

#flex-bottom-col2-4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: auto;
    margin: 2em 0;
    gap: 0;
    flex-wrap: wrap;
}
           

            .exhibition-background1{background-image: url(/IMGZ/space-2865928_640.jpg); }
            .exhibition-background2{background-image: url(/mobileimg/conservatory-4161955_640.jpg);}
            .exhibition-background3{background-image: url(/IMGZ/robot-916284_1920.jpg);}
            .exhibition-background4{background-image: url(/IMGZ/dinosaur-60588_1280.jpg);}
           

            .exhibition-background1,
            .exhibition-background2,
            .exhibition-background3,
            .exhibition-background4
            {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
min-height: 20vh;
width: 100%;
margin: 5em 0;

            }
            .exhibition-p-padd {
                padding: 2em;
                width: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
              }
        
        
        .bottom-section-a {
            display: flex;
            justify-content:center;
        }
   
/* INDEX BOTTOM */


/*INDEX*/

/*NEWS.html*/

.news-card {
    padding: 4em;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0em 0em;
    
   


}

.news-sub_container2 {
    display: none;
}
.news-sub_container1 {
   display: grid;
   grid-template-columns: auto;
   grid-template-rows: minmax(auto);
   gap: 2em;
   justify-content: center;
  margin: 0em 0;
  height: auto;
  padding: 0em 0em;
  background-image: none;
  
}
.news-sub_container2 {
    display: none;
   
   
 }




/*NEWS*/




.exhibition-sub-container {

display: grid;
grid-template-columns: auto;
grid-template-rows: minmax(auto);
min-height: 50vh;
margin:0;
padding: 0em 0em;
}

.exhibition-sub-text {
    padding: 1em;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    
}


.exhibition-shuffle-link, .exhibition-shuffle-link_wide {
    border: none;
    display: block;
    width: 10rem;
    font-size: 1.7rem;
    text-align: center;
    height: auto;
}

.exhibition-shuffle-link_wide {
        width: 13rem;
}

.exhibition-sub-link {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    margin: 0em 0em;
}
.news-link {
    border: none;
   
    display: block;
    width: 10rem;

    font-size: 1.5rem;
    text-align: center;
}

/* learning */

#learning-grid-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--index);
    flex-direction: column;
    margin: 0em 0em;
  
}

.for-kids, .for-teachers {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding: 0em;
    width: auto;
    padding: 5em;
    
}
/* learning */

/*FOOTER*/


footer  {
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;

flex-wrap: wrap;
background-color: var(--headerfooterindexmain);
   padding: 0 0;
   margin: 0 0;
}


.footer-headline {
    color: rgb(0, 0, 0);
}
.footer-p {
  
   color: rgb(0, 0, 0);
   font-weight: bold;font-size: 1.5em;
   
   
}

.f-icon {
    
    color: rgb(35, 32, 32);
    background-color: var(--headerfooterindexmain);
    border-radius: 5em;
   border-color: none;
   font-size: 2rem;
    padding: 0.3em;
    
}





 @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      
    }
  }
  

  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
     
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      background-color: var(--index);
      
    }
  } 


/*FOOTER*/
}














